
*{
    margin: 0;
    padding: 0;
}
.container-box{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.container{
    height: 20vh;
    width: 20vw;
    

}
#one{
    background-color: red;
   font-size : 30px;
   font-size : 30px;
   font-size : 30px;
	
}
#two{
    background-color: blue;
   font-size : 30px;

   font-size : 30px;
	
    
}
#three{
    background-color: green;
   font-size : 30px;
	
}